<nav class="searchbar">
	<div class="searchbar-logo">
	</div>

	<form class="row searchbar__fieldset input-group">
		<input class="searchbar__input form-control" 
			type="text" 
			ng-model="searchQuery"
			placeholder="Search Item">

		<span class="input-group-btn">
			<button 
				ng-click="searchItem()"
				class="btn searchbar__button" 
				type="submit">
				<img src="assets/ic_Search.png">
			</button>
   		</span>
	</form>
</nav>

