.main-wrapper {
  background-color: #EEE;
  width: 100%;
  min-height: 100%;
}

.content-wrapper {
  width: 75%;
  margin: 0 auto;
}

.link:hover {
  cursor: pointer;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #EEE !important;
}

body, p {
  margin: 0;
  padding: 0;
  color: #333;
}

div.col-md-1,
div.col-md-2,
div.col-md-3,
div.col-md-4,
div.col-md-5,
div.col-md-6,
div.col-md-7,
div.col-md-8,
img.col-md-8,
div.col-md-9,
div.col-md-10,
div.col-md-11,
div.col-md-12 {
  margin: 0;
  padding: 0;
}

.searchbar {
  background-color: #AAA;
  width: 100%;
  text-align: center;
  height: 50px;
}
.searchbar .searchbar__fieldset.input-group {
  top: 8px;
  width: 75%;
  margin: 0 auto;
}
.searchbar .searchbar__fieldset.input-group .searchbar__input.form-control {
  max-width: 90%;
  min-width: 90px;
  font-size: 18px;
  float: right;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.searchbar-logo {
  position: absolute;
  display: inline-block;
  z-index: 9999;
  left: 12.3%;
  width: 4%;
  top: 8px;
}

.searchbar__button {
  border: none;
  border-radius: 4px;
  float: right;
  background-color: #EEE;
}
.searchbar__button img {
  color: #999;
}

div.product-detail {
  padding-left: 16px;
  overflow: hidden;
}

.product-detail__type {
  font-size: 14px;
  margin-bottom: 16px;
}

.row.product-wrapper {
  margin: 0;
  padding: 32px;
  padding-bottom: 0;
  background-color: #FFF;
}

.product-view.col-md-9 {
  padding: 0;
}
.product-view .product-view__image {
  max-width: 680px;
}

.search-filter {
  padding: 16px 0;
  color: #666;
}

.product-detail__price {
  margin-top: 32px;
  font-size: 46px;
}
.product-detail__price .product-detail__price__cents {
  font-size: 60%;
}

.product-detail__title {
  font-size: 24px;
  overflow: hidden;
}

.product-detail__buy-button {
  margin-top: 32px;
  border: none;
  background-color: #3483FA;
  color: #FFF;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

div.product-description {
  margin-top: 64px;
}

.product-description__title {
  font-size: 28px;
  color: #666;
}

p.product-description__body {
  padding: 16px 0;
  color: #666;
  text-align: justify;
  overflow: hidden;
}
p.product-description__body.col-md-12 {
  padding-right: 0;
  padding-left: 0;
}

.row.list-wrapper {
  margin: 0;
  padding: 0 16px;
  border-radius: 5px;
  background-color: #FFF;
}
.row.list-item {
  padding: 16px;
  list-style: none;
  border-bottom: 1px solid #EEE;
  display: block;
}

.list-item__image.col-md-3 {
  padding: 0;
  width: 180px;
  height: 180px;
  border-radius: 4px !important;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

div.list-item__details {
  padding-left: 16px;
}
div.list-item__details .list-item__details__location {
  font-size: 12px;
  color: #666;
}
div.list-item__details .list-item__details__price {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 32px;
}
div.list-item__details .list-item__details__description {
  color: #333;
}

/*# sourceMappingURL=main.css.map */
